<h1 mat-dialog-title >Резерв на стол</h1>
<div mat-dialog-content>
  <mat-form-field>
	  <input matInput [matDatepicker]="myDatepicker" [formControl]="_FormService._curDateFormControl">
	  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
	  <mat-datepicker #myDatepicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <div class="time-picker">
    <input [(ngModel)]="data.time_start" aria-label="Время" [ngxTimepicker]="picker" format  [disableClick]="true" readonly [format]="24" >
  	<ngx-material-timepicker-toggle [for]="picker"></ngx-material-timepicker-toggle>
	<ngx-material-timepicker #picker ></ngx-material-timepicker>
  </div>
  <mat-form-field>
	  <mat-label>Продолжительность</mat-label>
	  <mat-select [(ngModel)]="data.time_gap">
	    <mat-option *ngFor="let interval of interval" [value]="interval.minutes">
	      {{interval.text}}
	    </mat-option>
	  </mat-select>
  </mat-form-field>
  <mat-form-field>
	  <mat-label>Стол</mat-label>
	  <mat-select [(ngModel)]="data.table_id">
	    <mat-option *ngFor="let table of _FormService._allTables" [value]="table.id">
	      {{table.name}} N {{table.table_number}}
	    </mat-option>
	  </mat-select>
  </mat-form-field>
  <mat-form-field>
  	<mat-label>Кол-во гостей</mat-label>
    <input matInput [(ngModel)]="data.count_guests">
  </mat-form-field>
  <mat-form-field>
  	<mat-label>Комментарий к резерву</mat-label>
    <textarea matInput [(ngModel)]="data.reserve_comments"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Имя гостя</mat-label>
    <textarea matInput [(ngModel)]="data.guest_name"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Номер телефона</mat-label>
    <textarea matInput [(ngModel)]="data.guest_phone"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions [className]="'reserve-edit-buttons'">
  <button mat-button color="warn" (click)="onNoClick()"><mat-icon>clear</mat-icon> Отмена</button>
  <button mat-button color="primary" cdkFocusInitial (click)="onSubmit(data)"><mat-icon>done</mat-icon> Подтвердить</button>
</div>