<button *ngIf="!add" mat-raised-button color="primary" (click)="redactTableDialog(tableId, tableName, tableNumber, tableMax, tableAdminComments, add, coordinateX, coordinateY, visualType)"><mat-icon>create</mat-icon> Редактировать</button>
<button *ngIf="!add" mat-raised-button color="warn" (click)="deleteTableDialog(tableId, tableName, tableNumber, tableMax, tableAdminComments)"><mat-icon>block</mat-icon> Удалить</button>
<button *ngIf="add" mat-raised-button color="accent" (click)="redactTableDialog('', '', '', '', '', add,'','','')"><mat-icon>add</mat-icon> Добавить стол</button>
<button *ngIf="add" mat-raised-button color="primary" (click)="refreshTables()"><mat-icon>refresh</mat-icon> Обновить</button>