<app-popup-table [add]=true [className]="'app-popup-table'"></app-popup-table>
<mat-grid-list [cols]="breakpoint" rowHeight="600px" (window:resize)="onResize($event)" gutterSize="20" >
  <mat-grid-tile *ngFor="let table of _FormService._allTables">
	<mat-card class="table-card">
	  <mat-card-header>
	    <div mat-card-avatar><mat-icon>grid_on</mat-icon></div>
	    <mat-card-title>{{table.name}}</mat-card-title>
	    <mat-card-subtitle>Номер стола: {{ table.table_number }}</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <p>
	      	<strong>Максимальное количество гостей:</strong> {{ table.max }}
	    </p>
	    <p>
	    	<strong>Комментарий администратора:</strong> {{ table.admin_comments }}
	    </p>
	    <p>
	    	<strong>Координата X:</strong> {{ table.coordinate_x }}
	    </p>
	    <p>
	    	<strong>Координата Y:</strong> {{ table.coordinate_y }}
	    </p>
	    <p>
	    	<strong>Визуальный тип стола:</strong> {{ table.visual_type }}
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	  	<app-popup-table [className]="'app-popup-table'" [add]=false [tableId]="table.id" [tableName]="table.name" [tableNumber]="table.table_number" [tableMax]="table.max" [tableAdminComments]="table.admin_comments" [coordinateX]="table.coordinate_x" [coordinateY]="table.coordinate_y" [visualType]="table.visual_type"></app-popup-table>
	  </mat-card-actions>
	</mat-card>
  </mat-grid-tile>
</mat-grid-list>