<h1 mat-dialog-title >Стол: {{data.name}}</h1>
<div mat-dialog-content>
  <mat-form-field>
  	<mat-label>Название стола</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
  	<mat-label>Номер стола</mat-label>
    <input matInput [(ngModel)]="data.number">
  </mat-form-field>
  <mat-form-field>
  	<mat-label>Максимальное кол-во гостей</mat-label>
    <input matInput [(ngModel)]="data.max">
  </mat-form-field>
  <mat-form-field>
  	<mat-label>Комментарий администратора</mat-label>
    <input matInput [(ngModel)]="data.comments">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Координата X</mat-label>
    <input matInput [(ngModel)]="data.coordinate_x">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Координата Y</mat-label>
    <input matInput [(ngModel)]="data.coordinate_y">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Визуальный тип стола</mat-label>
    <input matInput [(ngModel)]="data.visual_type">
  </mat-form-field>
</div>
<div mat-dialog-actions [className]="'table-edit-buttons'">
  <button mat-button color="warn" (click)="onNoClick()"><mat-icon>clear</mat-icon> Отмена</button>
  <button mat-button color="primary" cdkFocusInitial (click)="onSubmit(data)"><mat-icon>done</mat-icon> Подтвердить</button>
</div>