<h1 mat-dialog-title>Удаление {{data.name}}</h1>
<p>Вы действительно хотите удалить стол N {{data.number}}?</p>
<div mat-dialog-actions [className]="'table-edit-buttons'">
  <button mat-button color="primary" (click)="onNoClick()"><mat-icon>clear</mat-icon> Отмена</button>
  <button mat-button color="warn" cdkFocusInitial (click)="onSubmit(data)"><mat-icon>done</mat-icon> Подтвердить</button>
</div>