@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	wisth:100%;
}
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$occupated: #ff00001c;
$free: #08ff0033;
$unavailable: #9090901c;
.red-snackbar {
	background:$danger;
}
.green-snackbar {
	background:$success;
}
.calendar-component {
	min-width: 700px;
}
.calendar-component .mat-grid-tile .mat-figure {
	align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.7em;
    padding: 5%;
    border: 1px solid #00000008;
    flex-flow: column;
    overflow-y: scroll;
}
.calendar-component .mat-grid-tile.occupated .mat-figure {
	background:$occupated;
}
.calendar-component .mat-grid-tile.free .mat-figure {
	background:$free;
}
.calendar-component .mat-grid-tile.unavailable .mat-figure {
	background:$unavailable;
}
.calendar-component .mat-grid-tile .mat-figure .mat-badge {
	width: 100%;
    position: absolute;
    right: 15%;
    top: 15%;
}
.calendar-component .mat-grid-tile .mat-figure .mat-chip {
	font-size: 0.8em;
    height: fit-content;
    width: 100%;
    padding: 3px 5px;
    margin-bottom: 10px;
}
.app-popup-table, .table-edit-buttons {
	flex-flow: row;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.app-popup-table .mat-raised-button, .table-edit-buttons .mat-button{
	width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
}
.reserve-day {
	position: absolute;
}
.reserve-day .mat-figure {
	padding-left: 10px;
    padding-right: 10px;
    height: 600px;
}
.reserve-day .mat-figure .schedule {
	width: 100%;
    height: 600px;
    position: relative;
}
.reserve-day .reserve-day-tile {
	position: absolute;
    width: 100%;
    background: $occupated;
    padding: 5px 55px 5px 25px;
    font-size: 0.7em;
}
.nothing_to_show, .count_to_show {
	padding: 20px;
	color: $occupated;
	font-weight: bold;
	font-style: 1.2em;
}
.count_to_show {
	color: $info;
}
.timeline-line {
	position: absolute;
	left: 0;
	font-size: 0.5em;
	width: 100%;
}
.timeline-line .relative-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.timeline-line .relative-wrapper:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	background: $dark;
	opacity: .2;
}
.timeline-actions {
	margin-top: 10px;
	margin-bottom: 10px;
}
.timeline-actions .mat-raised-button {
	margin-left: 10px;
}
.time-picker {
	flex-flow: row;
    display: flex;
}
.reserve-edit-icons {
	position: absolute;
    top: 5px;
    right: 5px;
    transform: scale(0.8);
}
.reserve-edit-icons .mat-icon {
	cursor: pointer;
}
.mat-dialog-content {
	display: flex !important;
	flex-flow: column;
}




