<h1 mat-dialog-title>Удаление резерва на {{data.time_start}}</h1>
<p>Вы действительно хотите резерв на {{data.time_start}}?</p>
<div mat-dialog-actions [className]="'table-edit-buttons'">
  <button mat-button color="primary" (click)="onNoClick()"><mat-icon>clear</mat-icon> Отмена</button>
  <button mat-button color="warn" cdkFocusInitial (click)="onSubmit(data)"><mat-icon>done</mat-icon> Подтвердить</button>
</div>