<button mat-raised-button color="primary" (click)="prevMonth()"><mat-icon>keyboard_arrow_left</mat-icon> Пред</button>
<button mat-button color="accent" disabled>{{month.name}} ({{year}})</button>
<button mat-raised-button color="primary" (click)="nextMonth()">След <mat-icon>keyboard_arrow_right</mat-icon></button>
<div class="calendar-component">
	<mat-grid-list cols="7" gutterSize="0" rowHeight="1:2">
	  <mat-grid-tile *ngFor="let day of _FormService._allMonth" [ngClass]="day.day_of_week.status" >
		<p>
			{{day.day_number}} {{day.day_of_week.name}}
			<span *ngIf="day.reserves.length > 0" [matBadge]="day.reserves.length" matBadgeSize="medium" matBadgePosition="above after"></span>
		</p>
		<mat-chip-list *ngFor="let reserve of day.reserves">
		  	<mat-chip color="accent" selected>
				Стол {{_FormService.getScheduleItem(reserve).table_id}}. Резерв с {{_FormService.getScheduleItem(reserve).date_time_start}} по {{_FormService.getScheduleItem(reserve).date_time_end}}.
			</mat-chip>
		</mat-chip-list>
	  </mat-grid-tile>
	</mat-grid-list>
</div>