<div [className]="'reserve-edit-icons'" *ngIf="!add">
	<a  (click)="redactReserveDialog(ScheduleId, tableNumber, dateTimeStart, dateTimeEnd, countGuests, reserveComments, guestName, guestPhone, add)" ><mat-icon color="primary">create</mat-icon></a>
	<a  (click)="deleteReserveDialog(ScheduleId, tableNumber, dateTimeStart, dateTimeEnd, countGuests, reserveComments, guestName, guestPhone, add)" ><mat-icon color="warn">block</mat-icon></a>
</div>
<button *ngIf="add" mat-raised-button color="accent" (click)="redactReserveDialog('', '', dateTimeStart, '', '', '','','', add)"><mat-icon>add</mat-icon> Добавить</button>