<div [className]="'timeline-actions'">
	<button mat-raised-button color="primary" (click)="prevDay()"><mat-icon>keyboard_arrow_left</mat-icon> Пред</button>
	<button mat-button color="accent" disabled>{{day}}</button>
	<button mat-raised-button color="primary" (click)="nextDay()">След <mat-icon>keyboard_arrow_right</mat-icon></button>
	<button mat-raised-button color="accent" (click)="refreshCurrentDay()">Обновить <mat-icon>refresh</mat-icon></button>
	<app-reserve [className]="'app-reserve'" [add]=true [dateTimeStart]="dateTimeStart"></app-reserve>
</div>

<div *ngIf="!(_scheduleByTable.length > 0)" class="nothing_to_show">Резервов на {{day}} нет</div>
<div *ngIf="(_scheduleByTable.length > 0)" class="count_to_show">Всего резервов: {{_scheduleByTable.length}}</div>

<mat-grid-list [cols]="_scheduleByTable.length" gutterSize="20" rowHeight="600px" [style.width]="_scheduleByTable.length * 600 + 'px'">
  <mat-grid-tile *ngFor="let table of _scheduleByTable" [className]="'reserve-day'">
	<section class="table_name">
		{{getTableById(table.table_id).name}} N {{getTableById(table.table_id).table_number}}
	</section>
	<section class="schedule">
		<div *ngFor="let timeline of timeLine" [style.height]="timeline.height + '%'" [style.top]="timeline.top + '%'" [className]="'timeline-line'">
			<div class="relative-wrapper">
				{{timeline.time}}
			</div>
		</div>
		<div *ngFor="let reserve of table.reserves" [style.height]="reserve.height + '%'" [style.top]="reserve.top_coordinate + '%'" [className]="'reserve-day-tile'">
			<app-reserve [className]="'app-reserve'" [add]=false [ScheduleId]="reserve.id" [tableId]="reserve.table_id" [dateTimeStart]="reserve.date_time_start" [dateTimeEnd]="reserve.date_time_end" [countGuests]="reserve.count_guests" [reserveComments]="reserve.reserve_comments" [guestName]="reserve.guest_name" [guestPhone]="reserve.guest_phone"></app-reserve>
			<strong>{{getTimeFromDateTime(reserve.date_time_start)}}</strong> на {{getTimeGap(reserve.date_time_start,reserve.date_time_end)}} {{hourWordForm(getTimeGap(reserve.date_time_start,reserve.date_time_end))}} <strong>{{reserve.guest_name}}</strong> <a href="tel:+{{reserve.guest_phone}}">+{{reserve.guest_phone}}</a>
		</div>
	</section>
  </mat-grid-tile>
</mat-grid-list>